@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import '@fortawesome/fontawesome-free/css/all.css';

*{
  box-sizing: border-box;
    
    font-size: 16px;
}

html{
  margin: 0px;
}

.introSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 height: 100vh;
  /* height: 650px;
  width: 100%;  */
}
.titleDiv{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
} 
.titleDiv h1{
  color:burlywood;
  font-size: 5rem;
} 
.titleDiv p{
  color:white;
  font-size: 2rem;
} 
.titleDiv a{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}


.cv{
  border-radius: 4px;
  /* background-color: #f4511e; */
  border-color: #f4511e;;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.cv span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  /* background-color: #f4511e; */
}

.cv span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.cv:hover span {
  padding-right: 25px;
}

.cv:hover span:after {
  opacity: 1;
  right: 0;
}
.imgDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgIntro{
  display: flex;
  justify-content: center;
  
  width:100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutImgDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  
    .imageAbout{
  
      max-width:350px;
      height: 50vh;
      
     
    }
    
    .aboutComponent{
      font-size: 1.5rem;
      width: 100%;
      max-width: 600px;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      padding: 10px;
      }
      
  .aboutComponent h1{
    color:burlywood;
    background-color:black;
    width: 30%;
  }
  .aboutComponent h3{
    color:burlywood;
    background-color:black;
  }

  .aboutComponent p{
    color: white;
    background-color:black;
    
  }
  .imgTextAbout{
    display: flex;
    flex-wrap: wrap;
  justify-content: space-around;
  }


.skillsComponent{
  padding: 20px 50px;
  font-size: 1.5rem;
  background-color:antiquewhite;
  border-radius: 150px 0 0 150px ;
  margin-top: 20px;
width: 50%;
color: black;
display: flex;
flex-wrap: wrap;
margin-top: 50px;
    }

    .skillsComponent h1{
      background-color: antiquewhite;
      color:burlywood;
    }
#skills{
  display: flex;
  justify-content: flex-end;
  }

.projectsComponent{
padding: 20px 20px;
font-size: 1.5rem;
}

.header{
  display: flex;
  justify-content: space-between;
}
.header h3{
  margin-left:30px;
  font-size:32px;
  color:burlywood;
}
.nav-menu.active{
  background: grey;

}
.side-menu {
  position: fixed;
  top: 0;
  left: -100%; /* Start hidden off the screen */
  width: 50%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease-in-out;
  opacity: 0.8;
}
.side-menu.active {
  left: 0; /* Slide in when active */
}
.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  
}
.side-menu ul li {
  margin: 15px 0;
  
  background: grey;
}

.projectsComponent{
  color: black;
  background-color: antiquewhite;
  margin-top: 50px;
  margin-bottom: -10px;
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;

}
.projectsComponent h1{
  color:burlywood;
  background-color: antiquewhite;
}
.projectsComponent a{
  width: 100px;
}
.projectsComponent h4{
  color:black;
  text-decoration: none;
  background-color: antiquewhite;
  width: 50px;
}
.projectsComponent p{
  color:black;
  text-decoration: none;
  background-color: antiquewhite;
}
.linkdironImgDiv{
 width: 100%;
 max-width: 300px;
 background-color: antiquewhite;
}
.fitnessAppImgDiv{
  width: 100%;
  max-width: 300px;
  background-color: antiquewhite;
  }
.deadpoolImgDiv{
  width: 100%;
  max-width: 300px;
  background-color: antiquewhite;
}
.linkdironImg{
  width: 100%;
  max-width: 300px;
   border-radius:10px;

 background-color: antiquewhite;
}
.fitnessAppImg{
  width: 100%;
  max-width: 300px;
  height: 157px;
  border-radius:10px; 
  background-color: antiquewhite;
}
  .deadpoolImg{
    width: 100%;
    max-width: 300px;
       border-radius:10px;
       height: 157px;
       background-color: antiquewhite;
    }
.linkdironImg:hover { 
  transform: scale(1.05); 
  transition: 0.5s
  }

  
 
  .fitnessAppImg:hover { 
    transform: scale(1.05); 
    transition: 0.5s
    }
   
    
    .deadpoolImg:hover { 
      transform: scale(1.05); 
      transition: 0.5s
      }